.App {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #e1e1e1;
}

.App-logo {
  display: inline-block;
  background-size: 200px;
  height: 200px;
}
.App-header {
  text-align: center;
  background-color: #380a15;
  height: 250px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.rt-td {
  font-weight: bold
}

.player-names {
  font-weight: bold
}

[data-success] {
    padding:5px 0;
  }
  [data-tint="1"] {
    background-color: #e7f3e7;
  }
  [data-tint="2"] {
    background-color: #ffe7e7;
  }
  
[data-success="1"]:before {
    content:"\a0";
    display:block;
    padding:2px 0;
    line-height:1px;
    border-top:8px solid #1C1; 
}
[data-success="0"]:before {
    content:"\a0";
    display:block;
    padding:2px 0;
    line-height:1px;
    border-top:8px solid grey; 
}
[data-success="2"]:before {
    content:"\a0";
    display:block;
    padding:2px 0;
    line-height:1px;
    border-top:8px solid #FF0000; 
}
.red {
  color: red;
}
.green {
  color: green;
}
.padding {
  padding: 2px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.Balcony {
  background-image: url('./levels/balcony-blurred.png');
}
.Ballroom {
  background-image: url('./levels/ballroom-blurred.png');
}
.Courtyard {
  background-image: url('./levels/courtyard-blurred.png');
}
.Gallery {
    background-image: url('./levels/gallery-blurred.png');
}
.High-Rise {
  background-image: url('./levels/high-rise-blurred.png')
}
.Library {
  background-image: url('./levels/library-blurred.png')
}
.Moderne {
  background-image: url('./levels/moderne-blurred.png')
}
.Pub {
  background-image: url('./levels/pub-blurred.png');
}
.Terrace {
  background-image: url('./levels/terrace-blurred.png')
}
.Veranda {
  background-image: url('./levels/veranda-blurred.png')
}
.Panopticon {
  background-image: url('./levels/library-blurred.png');
}
.Modern {
  background-image: url('./levels/moderne-blurred.png')
}

.white {
  color: white;
}
.background-image {
  background-size: cover;
  margin: 4px 2px;
  padding: 2px 10px 4px 5px;
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
}
.level-name {
  text-align-last: right;
  padding: 10px;
}
.recap-names {
  padding: 0px 5px;
}
.white-image {
  filter: invert(100%);
}
.button-stretch {
    display: block;
    width: 100%;
}
.less-padding {
  padding: 0;
  margin: 0;
}
.block {
  flex-wrap: all
}
.selected {
  background-color: white;
  border-radius: 11%
  
}
.react-table {
  margin: 20px;
}

.map {
  display: block;
}
#confirmation {
  font-size: 2vh;
  border: solid 1px grey;
  text-align: left;
  padding: 1%;
}
.map-figures {
  display: inline-block;
  max-width: 25%;
  margin: 0 3%;
  text-align: center;
}
.division-figures {
  display: inline-block;
  max-width: 25%;
}
.smaller-image {
  max-height: 100%;
  max-width: 100%;
}
.cursor {
  cursor: pointer;
}
.fix-modal {
  padding: 10px;
}
.close-button {
  float: right;
  padding: 0 0;
  margin: 0;
  border-top-width: 0;
  font-size: 4.5vh;
  color: black;
}
/* 
to hide the buttonness of the button
*/
.wodar {
  text-decoration: none;
  color: grey;
}
.wodar:hover {
  text-decoration: none;
  color: grey;
}
.move-down {
  margin-bottom: -15px;
  margin-right: -20px;
}
.ugly-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.big-font {
  font-size: 5vh;
  display: inline-flex;
  position: relative;
  margin: .5% 1.5%;
}
.big-font:hover {
  text-decoration: none;
  position: relative;
}
.numbers-row {
  position: relative;
}
.division-image {
  height: 150px;
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
}
@media (max-width:767px) {
  .division-image {
    height: 100px;
    width: 70px;
  }
  .App-logo {
    width: 300px;
  }
  .big-font {
    font-size: 5vh;
    margin: 3px;
  }
  .selected {
    box-shadow: 1px 1vh 2vh 0 #333;
  }
  .table-size {
    font-size: 2vh;
  }
  .map-figures {
    font-size: 1.2vh;
  }
}

